<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <{{NAMESPACE}}_{{MODULE_NAME}}>
            <version>0.1.0</version>
        </{{NAMESPACE}}_{{MODULE_NAME}}>
    </modules>
    <global>
        <models>
            <{{NAME_LOWERCASE}}>
                <class>{{NAMESPACE}}_{{MODULE_NAME}}_Model</class>
                <resourceModel>{{NAME_LOWERCASE}}_resource</resourceModel>
            </{{NAME_LOWERCASE}}>
            <{{NAME_LOWERCASE}}_resource>
                <class>{{NAMESPACE}}_{{MODULE_NAME}}_Model_Resource</class>
                <entities>
                    <{{NAME_LOWERCASE}}>
                        <table>{{NAME_LOWERCASE}}</table>
                    </{{NAME_LOWERCASE}}>
                </entities>
            </{{NAME_LOWERCASE}}_resource>
        </models>
        <helpers>
            <{{NAME_LOWERCASE}}>
                <class>{{NAMESPACE}}_{{MODULE_NAME}}_Helper</class>
            </{{NAME_LOWERCASE}}>
        </helpers>
        <blocks>
            <{{NAME_LOWERCASE}}>
                <class>{{NAMESPACE}}_{{MODULE_NAME}}_Block</class>
            </{{NAME_LOWERCASE}}>
        </blocks>
        <resources>
            <{{NAME_LOWERCASE}}_setup>
                <setup>
                    <module>{{NAMESPACE}}_{{MODULE_NAME}}</module>
                    <class>{{NAMESPACE}}_{{MODULE_NAME}}_Model_Resource_Setup</class>
                </setup>
            </{{NAME_LOWERCASE}}_setup>
            <{{NAME_LOWERCASE}}_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </{{NAME_LOWERCASE}}_write>
            <{{NAME_LOWERCASE}}_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </{{NAME_LOWERCASE}}_read>
        </resources>
    </global>
    <admin>
        <routers>
            <{{NAME_LOWERCASE}}>
                <use>admin</use>
                <args>
                    <module>{{NAMESPACE}}_{{MODULE_NAME}}</module>
                    <frontName>{{NAME_LOWERCASE}}</frontName>
                </args>
            </{{NAME_LOWERCASE}}>
        </routers>
    </admin>
    <!-- Layout voor adminhtml: -->
    <adminhtml>
        <layout>
            <updates>
                <{{NAME_LOWERCASE}}>
                    <file>{{NAME_LOWERCASE}}.xml</file>
                </{{NAME_LOWERCASE}}>
            </updates>
        </layout>
    </adminhtml>
</config>